@keyframes slide_left {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ff{

}

.ff input{
    width: 435px;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.ff input:hover{
    border: 1px solid rgb(206, 0, 225);
    background-color: rgb(244, 230, 255);
    transition: 0.3s;
}

.list{
    width: 440px;
    font-weight: bold;
}

.checkwrapper {
    width: 120px;
    display: flex;
}

.lab {
    background-color: #fff;
    color: #000;
    padding: 6px 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
}

.check input{
    width: 16px;
}

.loading{
    height: 410px;
}

.form_item{
    opacity: 0;
    animation: fadeIn 600ms forwards, slide_left 600ms forwards;
}

.form_i1 {

}

.form_i2 {
    animation-delay: 0.1s;
}

.form_i3 {
    animation-delay: 0.2s;
}

.form_i4 {
    animation-delay: 0.3s;
}

.form_i5 {
    animation-delay: 0.4s;
}


.progress_wrapper{
    width: 100%;
    margin: 20px;
}

.progress{
    
    width: 100%;
    top: 50%;
    opacity: 1;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.dropfilepreview__item p {
    margin-bottom: 0px;
}

.dropfilepreview__title {
    margin-bottom: 20px;
}

.dropfilepreview__item {
    position: relative;
    display: flex;
    margin-bottom: 6px;
    background-color: var(--input-bg);
    padding: 6px;
    border-radius: 12px;
}

.dropfilepreview__item img {
    width: 50px;
    margin-right: 20px;
    height: 50px;
}

.dropfilepreview__item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
}

.dropfilepreview__item__del {
    background-color: var(--box-bg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropfilepreview__item:hover .dropfilepreview__item__del {
    opacity: 1;
}
